*::after,
*::before,
* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: #264653;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
  height: 600px;
  gap: 1rem;
}

.board-container div {
  height: 100%;
  border: 1px solid black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 20px;
  background-color: #57a0bd13;
  box-shadow: 0 6px 0 #0a1316;
  cursor: pointer;
}
