*::after,
*::before,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #264653;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  padding-top: 3rem;
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  height: 500px;
  margin: 0 auto;
}

footer {
  display: flex;
}

footer h3 {
  margin: 2rem auto;
  color: whitesmoke;
  text-shadow: 0 0px 2px white;
}

.board-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.board-container div {
  height: 100%;
  border: 1px solid black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bolder;
  border-radius: 20px;
  background-color: #5295af;
  box-shadow: 0 6px 1px #070b0c4d;
  color: rgb(93, 233, 214);
  cursor: pointer;
}

.cell:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.cell:not(hover) {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.cell:active {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

.game-info-container {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0.5em;
  width: 500px;
}

.score-container,
main {
  padding: 0.5em;
  width: 500px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 1rem;
}

.score-container div {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 55px;
  font-weight: bold;
  color: #264653;
}

.score-x {
  background-color: aquamarine;
}

.score-ties {
  background-color: rgb(205, 209, 208);
}

.score-o {
  background-color: rgb(245, 212, 25);
}

.turn-display {
  border: 1px solid black;
  box-shadow: 0 6px 2px #070b0c4d;
  border-radius: 10px;
  padding: 0.5em;
  width: 150px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  background-color: #5295af;
  font-weight: 800;
  font-size: 1.2rem;
  color: whitesmoke;
}

.game-logo {
  display: flex;
  text-align: center;
  width: 50px;
  font-weight: 800;
}

.logo-img {
  height: 45px;
  width: 45px;
}

/* reset btn styles */

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: #5295af;
  box-shadow: 0 4px 0 #315c6d;
}

.reset-btn img {
  width: 20px;
  height: 20px;
}

.reset-btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.reset-btn:hover .reset-btn-icon {
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}

.reset-btn:not(hover) {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.reset-btn:not(hover) .reset-btn-icon {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.reset-btn:active {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

/* Modal */

.winner-message-modal {
  position: absolute;
  display: none;
  flex-direction: column;
  margin: 0;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: #315c6d;
  text-align: center;
  padding: 1em;
  box-shadow: 0 6px 2px #172931;
}

.winner-message-modal h1 {
  margin: auto;
}

.close-modal-btn {
  margin-left: auto;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.show {
  display: flex;
}

.mark-icons {
  width: 50%;
  height: 50%;
}
